.ButtonRemoveAll {
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 100px;
  text-decoration: none;
  background: linear-gradient(90deg, #9d174d, #f472b6);
  font-weight: 600;
}

.ButtonRemoveAll:hover {
  background: linear-gradient(90deg, #9d174d, #f472b6);
  transition: .5s;
}

.ButtonRemoveAll:active {
  background: linear-gradient(90deg, #831843, #f9a8d4);
}