.container{
  gap: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.inputRow {
  gap: 20px;
  display: flex;
  width: 100%;
}

.input{
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #80808062;
    padding: 8px 16px;
}

.buttonAdd{
    border: none;
    background: linear-gradient(90deg, #581c87, #7c3aed);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
}


.buttonAdd:hover {
  background: linear-gradient(90deg, #6b21a8, #8b5cf6);
}
