.PageLayoutContainer{
    display: flex;
    justify-content: center;

    margin-top: 16px;
}

.PageContent{
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 6px #0000001a;
}

.PageTitle{
    background: linear-gradient(to right, #000000d2 0%, #1a191985 100%);

    -webkit-background-clip: text;
    background-clip: text;
  
    -webkit-text-fill-color: transparent;

    
    margin-top: 0;
}
